@{
    ViewData["Title"] = "Home Page";
    // Web content are not centerd correctly.
}

<div class="container h-100">
    <div class="align-self-center w-100 border rounded">

        <div class="row align-self-center w-100" style="height: 800px;">

        <div class="rounded border border-primary overflow-auto h-100 w-25" id="menu">
            <div>
                <button onclick="SetContent()">Cont1</button>
            </div>
        </div>

        <div class="rounded border border-primary overflow-auto h-100 w-75" id="content">
            <div >
            </div>
        </div>
    </div>
    </div>
    </div>

<script>
    function SetContent()
    {
        console.log("Hej");
        document.getElementById('content').innerHTML = "Test..."
    }

</script>