@{
    ViewData["Title"] = "Home Page";
    // Web content are not centerd correctly.
}

<body onload="GetValue()">
    <div class="container h-100">
        <div class="align-self-center w-100 border rounded">

            <div class="row align-self-center w-100" style="height: 800px;">

                <div class="rounded border border-primary overflow-auto h-100 w-25" id="menu">
                    <div>
                        <button onclick="SetContent()">Cont1</button>
                    </div>

                </div>

                <div class="rounded border border-primary overflow-auto h-100 w-75" id="content">
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function SetContent()
    {
        document.getElementById('content').innerHTML = "Test..."
    }

    async function GetValue()
    {
        var response = await fetch("home/MenuItems",
        {
            method: 'GET'
        })

        if(response.status == 200)
        {
            var result = await response.json()
            SetMenu(result, 'menu')
        }
        else
        {
            console.warn('Could not load menu')
        }
    }

    function SetMenu(menuItems, elementId)
    {
            var list = document.createElement('ul');
            list.setAttribute('id', elementId + '_ul')

        menuItems.map(i => 
        {
            var li1 = document.createElement('li')
            li1.setAttribute('id', i.id + '_li1')

            var aTag = document.createElement('button');
            aTag.setAttribute('id', i.id);
            aTag.setAttribute('class','btn btn-link');

            aTag.setAttribute('onclick', 'SetContent("' + i.id + '")')

            var text = document.createTextNode(i.name)
            aTag.appendChild(text)

            li1.appendChild(aTag);

            list.appendChild(li1)

            if(i.subCategories != null)
            {
            var li2 = document.createElement('li')
            li2.setAttribute('id', i.id + 'li2');
            list.appendChild(li2)
            }

            var element = document.getElementById(elementId)
            element.appendChild(list)

            if(i.subCategories != null)
            {
                SetMenu(i.subCategories, i.id + 'li2')
            }
        })
    }

    async function SetContent(id)
    {
        console.log('fetching id:' + id)
        var response = await fetch('home/category/?guid=' + id);
        var result = await response.json();
        console.log(result)

        var tag = document.createElement('h3')
        tag.setAttribute('id', id)
        var name = document.createTextNode(result.name)
        tag.appendChild(name)
        var element = document.getElementById('content');

        element.innerHTML = "";

        element.appendChild(tag);
    }

</script>